<div style="text-align: center;">
    <img
      src="https://storage.grupored.com.co/pq-elegir-cesa.png"
      width="100%"
      height="auto"
      alt="¿Por que elegir el CESA?"
      style=""
    />
  </div>
  