<div style="color: #3f3f3f; font-size: 14px; font-size: clamp(8px, 4vw, 14px); padding: 10px 30px; padding: 10px clamp(8px, 5vw, 40px);">
    <br />
    <span>info.formacionejecutiva@cesa.edu.co &nbsp;</span>
    <br /><br />
    <span
      >Comunícate con nosotros al +57 3154191199 o al 601 3395311 en Bogotá.</span
    >
    <br /><br />
    <span
      >POLÍTICAS DE CAMBIOS EN CONFERENCISTAS Y FECHAS
    </span>
    <span style="font-size: clamp(5px, 3vw, 10px);">El CESA se reserva el derecho a realizar cambios de conferencistas y
      fechas, lo cual incluye reprogramación del programa en su totalidad. En caso
      de no llegar al número de personas requerido el programa será cancelado.</span
    >
    <br /><br />
  </div>
  