<div style="text-align: center;">
    <a
      href="https://api.whatsapp.com/send?phone=573154191199"
      target="_blank"
      style="
          margin-top: 30px;
          text-decoration: none; 
          color:#fff"
    >
      Si tienes alguna pregunta no dudes en escribirnos a nuestra línea <span
            style="
              background-color: #5CC5B3;
              border-radius: 10px;
              color:#fff; 
              padding: 3px 5px;
              display: inlen-block;
              ">de whatsapp
            <img
              width="18px"
              style="max-width: 18px; min-width: 8px;"
              src="https://storage.grupored.com.co/icon-whatsapp.png"
              alt="Icono WhatsApp"
            /></span
          > estaremos atentos a tu mensaje.</p>
    </a>
  </div>
  